parameters:
	phpVersion: 80000
	level: 5
	treatPhpDocTypesAsCertain: false
	paths:
		- edd-composer
	scanDirectories:
		- wp-env/plugins/easy-digital-downloads-pro
		- wp-env/plugins/edd-software-licensing
	excludePaths:
		- edd-composer/assets/*.asset.php
	bootstrapFiles:
		- phpstan-bootstrap.php
